@using MVC_Du_Lich.Models
@using PagedList.Mvc
@model PagedList.PagedList<DIEMDEN>

@{
    ViewBag.Title = "DiemDen";
    Layout = "~/Views/Shared/NavigationAdmin.cshtml";
}

<h2 style="text-align: center;">QUẢN LÝ THÔNG TIN ĐIỂM ĐẾN</h2>

<div style="text-align: center; margin-bottom: 20px;">
    <a href="@Url.Action("ThemDiemDen", "QuanLy")" class="btn btn-primary" style="background-color: #ff1200;">
        <label style="color: white;">THÊM MỚI</label>
    </a>
</div>

<table class="table">
    <tr>
        <th style="text-align: center;">@Html.DisplayNameFor(model => model.First().MaDDen)</th>
        <th style="text-align: center;">@Html.DisplayNameFor(model => model.First().TenDDen)</th>
        <th style="text-align: center;">@Html.DisplayNameFor(model => model.First().MaChauLuc)</th>
        <th style="text-align: center;">@Html.DisplayNameFor(model => model.First().MaLoaiTour)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align: center;">@Html.DisplayFor(modelItem => item.MaDDen)</td>
            <td style="text-align: center;">@Html.DisplayFor(modelItem => item.TenDDen)</td>
            <td style="text-align: center;">@Html.DisplayFor(modelItem => item.CHAULUC.TenChauLuc)</td>
            <td style="text-align: center;">@Html.DisplayFor(modelItem => item.LOAITOUR.TenLoaiTour)</td>
            <td style="width: 200px; text-align: center;">
                @Html.ActionLink("SỬA", "SuaDiemDi", new { id = item.MaDDen }, new { @class = "btn btn-warning", style = "margin-right: 5px;" }) |
                @Html.ActionLink("CHI TIẾT", "ChiTietDiemDi", new { id = item.MaDDen }, new { @class = "btn btn-info", style = "margin-right: 5px;" }) |
                @Html.ActionLink("XÓA", "XoaDiemDi", new { id = item.MaDDen }, new { @class = "btn btn-danger", style = "margin-right: 5px;" })
            </td>
        </tr>
    }
</table>

<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("DiemDen", new { page }), new PagedListRenderOptions { DisplayLinkToFirstPage = PagedListDisplayMode.Never, DisplayLinkToLastPage = PagedListDisplayMode.Never, DisplayLinkToPreviousPage = PagedListDisplayMode.Always, DisplayLinkToNextPage = PagedListDisplayMode.Always })
</div>

<style>
    .table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

        .table th,
        .table td {
            padding: 8px;
            border: 1px solid #dddddd;
            text-align: center;
        }

        .table th {
            background-color: #f2f2f2;
        }

        .table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .table tr:hover {
            background-color: #ddd;
        }

    .MenuTrang {
        margin-top: 20px;
        text-align: center;
    }

        .MenuTrang ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .MenuTrang li {
            display: inline;
            margin-right: 5px;
        }

        .MenuTrang a {
            text-decoration: none;
            padding: 5px 10px;
            border: 1px solid #ddd;
            border-radius: 3px;
            color: #333;
        }

            .MenuTrang a:hover {
                background-color: #f2f2f2;
            }
</style>
