@model MVC_Du_Lich.Models.CHAULUC
@{
    ViewBag.Title = "SuaChauLuc";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div style="margin: 10px auto; width: 70%;">
    <h2 style="text-align: center">CHỈNH SỬA CHÂU LỤC</h2>

    @using (Html.BeginForm("SuaChauLuc", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>CHÂU LỤC</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.MaChauLuc)

            <div class="form-group">
                TÊN ĐIỂM ĐI
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TenChauLuc, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenChauLuc, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                Mã Loại Tour
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MaLoaiTour, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MaLoaiTour, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 mb-3 mt-3">
                    <input type="submit" value="LƯU" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("TRỞ LẠI", "Index")
    </div>
</div>

