@using MVC_Du_Lich.Models
@using PagedList.Mvc
@model PagedList.PagedList<TOUR>

@{
    ViewBag.Title = "Tour";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row bg-primary ">
    <div class="col-lg-12 col-md-12 col-12">
        <!-- Page header -->
        <div class="d-flex justify-content-between align-items-center mb-5">
            <div class="mb-2 mb-lg-0">
                <h3 text-white"><strong>@Html.ActionLink("QUẢN LÝ THÔNG TIN TOUR", "Tour", "Admin", null, new { @class = "nav-link" })</strong></h3>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("THÊM MỚI", "ThemTour")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().MaTour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TenTour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Hinh1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Hinh2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Hinh3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Hinh4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SoLuongConLai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().NgayDiTour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().NgayKetThuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MaDDi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MaDDen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MaLoaiTour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MaPT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MaLKS)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaTour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenTour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                <img src="~/Images/@item.Hinh1" />
            </td>
            <td>
                <img src="~/Images/@item.Hinh2" />
            </td>
            <td>
                <img src="~/Images/@item.Hinh3" />
            </td>
            <td>
                <img src="~/Images/@item.Hinh4" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongConLai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDiTour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayKetThuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DIEMDI.TenDDi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DIEMDEN.TenDDen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LOAITOUR.TenLoaiTour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PHUONGTIEN.TenPT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LOAIK.TenLKS)
            </td>
            <td style="width: 150px;">
                @Html.ActionLink("SỬA", "SuaTour", new { loai = @item.MaTour }) |
                @Html.ActionLink("CHI TIẾT", "ChiTietTour", new { loai = @item.MaTour })|
                @Html.ActionLink("XÓA", "XoaTour", new { loai = @item.MaTour })
            </td>
        </tr>
    }

</table>

<!-- Thêm mã phân trang -->
<br />
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Tour", new { page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }

    td, th {
        text-align: center;
    }
</style>
<!-- Kết thúc -->
