@using MVC_Du_Lich.Models
@using PagedList.Mvc
@model PagedList.PagedList<TOUR>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/NavigationLocTour.cshtml";
}

<link rel="stylesheet" href="~/Content/Private.css" />

@if (ViewBag.LoaiTour != null)
{
    var dbContext = new QLDULICHEntities();
    int loaiTourId = ViewBag.LoaiTour; // Truy cập giá trị từ ViewBag.LoaiTour
    var loaiTour = dbContext.LOAITOURs.FirstOrDefault(loai => loai.MaLoaiTour == loaiTourId);

    <h2>Du lịch @(loaiTour.TenLoaiTour)</h2>
}
else if (ViewBag.DiemDen != null)
{
    var dbContext = new QLDULICHEntities();
    int loaiTourId = ViewBag.DiemDen; // Truy cập giá trị từ ViewBag.LoaiTour
    var loaiTour = dbContext.DIEMDENs.FirstOrDefault(diemden => diemden.MaDDen == loaiTourId);

    <h2>Du lịch @(loaiTour.TenDDen)</h2>
}
else
{
    var dbContext = new QLDULICHEntities();
    int loaiTourId = ViewBag.DiemDi; // Truy cập giá trị từ ViewBag.LoaiTour
    var loaiTour = dbContext.DIEMDIs.FirstOrDefault(diemdi => diemdi.MaDDi == loaiTourId);

    <h2>Du lịch @(loaiTour.TenDDi)</h2>
}


<style>

    .destination-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 5px; /* Khoảng cách giữa các thẻ card */
    }

    .destination-item__title {
        font-size: 16px;
        font-weight: bold;
        margin: 0;
        overflow: hidden; /* Ẩn văn bản vượt quá kích thước của phần tử */
        text-overflow: ellipsis; /* Thêm dấu '...' khi văn bản vượt quá kích thước */
        display: -webkit-box;
        -webkit-line-clamp: 2; /* Giới hạn số dòng hiển thị */
        -webkit-box-orient: vertical;
        line-clamp: 2; /* Giới hạn số dòng hiển thị */
        box-orient: vertical;
    }

    .destination-item__description {
        font-size: 14px;
        color: #888;
    }
</style>

<div class="row g-5 g-lg-3 d-none d-lg-flex">
    @foreach (var tour in Model)
    {
        <div class="col-3" style="min-height: 900px">
            <div class="card destination-item">
                <div class="position-relative destination-item__image">
                    <a href="@Url.Action("ChiTiet", "DSTour", new { loai = tour.MaTour })">
                        <img src="~/Images/@tour.Hinh1" class="card-img-top img-fluid" alt="@tour.TenTour" style="height: 100%" width="312" height="208" loading="lazy">
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title destination-item__title">@tour.TenTour</h5>
                    <p class="card-text destination-item__description">@tour.Gia</p>
                </div>
            </div>
        </div>
    }


</div>

<!-- Thêm mã phân trang -->
<br />
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("TrangChu", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
<!-- Kết thúc -->
